@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide labels but make them still accessible for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

/* Container for displaying on large screens */
@media (min-width: 2380px) {
  .contain {
    margin-inline: auto;
    max-width: 2380px;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.audio-length {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 90%;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
}

.audio-length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.audio-length::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
